doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Stefan Niculae - Resume
    meta(name='description' content='One-page resume of Stefan Niculae')

    link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    //link(href='style.css', rel='stylesheet')
    style @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");body{font-family:"Source Sans Pro","Open Sans",sans-serif;font-size:14px}#paper{width:665px;padding-bottom:30px;margin-left:auto;margin-right:auto;padding-top:20px;padding-left:30px;padding-right:40px}@media not print{#paper{margin-top:25px;box-shadow:0 0 30px #ebebeb;border-radius:3px}}#name, section header{font-variant:small-caps;font-weight:normal;letter-spacing:1px}#name{font-size:3em;margin-top:10px}#name,#contact{display:inline-block}#contact{display:block;color:#555}#contact div{margin-bottom:2px}#contact div:first-child span:not(:last-child)::after{content:" · ";margin-left:7px;margin-right:6px}#contact span:not(:first-child) img{margin-left:17px}#contact img{margin-right:7px;vertical-align:-10%;height:1em;opacity:0.65}#contact #email a, #contact #phone a{text-decoration:none}#contact #email i, #contact #phone i{font-style:normal}#face{float:right;margin-right:10px;height:100px;border-radius:50%;background-color:#f5f5f5}hr{border:none;border-top:1px solid #eee}hr#top-separator{margin:25px 10px}a{color:inherit}section header{font-size:1.2em;float:left;width:120px}section .content{margin-left:120px}section .content hr{margin:20px 5px}section#work .entry, section#education .entry{margin:5px 0}section#skills li, section .description, section .interval{color:#555}section .inline-place, section .place, section .interval .length, section .interval .to.expected::after{color:#5f5f5f}section .entry .info{display:inline-block;width:480px}section#work hr{margin-top:10px;margin-bottom:25px}section#work hr, section#education hr{margin-right:20px}section .entry .interval{text-transform:lowercase;font-size:0.9em;color:#686868;border-left:1px solid #ebebeb;display:inline-block;margin-top:8px;padding-left:7px;vertical-align:top}section .entry .interval span{display:block}section .role{font-size:1.15em}section#work .place{letter-spacing:1px;text-transform:uppercase}section .inline-place, section#work .place, section#education .place{font-variant:small-caps}section#work .place::before, section#education .place::before{content:" · ";margin-left:2px;margin-right:2px}section#work .description ul, section#education .description ul{margin-top:0;padding-left:5px;list-style:none}section#work .description ul li:before, section#education .description ul li:before{content:"›";font-size:1.25em;margin-right:0.3em}section #trainings .inline-place{width:70px;display:inline-block}section#skills, section #hobby{display:table}section#skills .category, section#hobbies .hobby{display:table-cell}section#skills .content{padding-left:5px}section#skills .category{width:150px;display:inline-block}section#skills .category:first-child{width:225px}section#skills .category .name{font-size:1.1em}section#skills hr{margin-left:-5px}section#skills ul{list-style-type:none;padding-left:0;margin-top:5px;margin-bottom:0}section#hobbies header{padding-top:7px}section#hobbies .content{display:flex;justify-content:space-between;padding-left:10px;padding-right:40px}section#hobbies .hobby{text-align:center;font-size:0.9em}section#hobbies .hobby img{height:20px;opacity:0.35}#paper-footer,footer{text-align:center;color:#9b9b9b}#paper-footer{margin-top:40px}@media not print{#paper-footer{display:none}}footer{font-size:1.1em;padding-top:0.7em;padding-bottom:1em}@media print{footer{display:none}}
    script function insertEmail(){var r,t,i;return t="&#104;&#101;&#108;&#108;&#1",r=t+"11;&#064;&#115;&#116;&#101;&#102;&#097;&#110;&#110;&#046;&#101;&#117;",i=r.substr(0,18)+"<i>"+r.substr(18,24)+"</i>"+r.substr(42),t='<a href="mai',document.write(t+"lto:"+r+'">'+i+"</a>")}function insertPhone(){var r,t,i,e,j;return r=["&#052;&#048;","&#055;&#050;&#050;","&#055;&#052;&#048;","&#052;&#054;&#057;"],e=r.join("-"),t=r.join(" "),i=t.substr(0,25)+"</i>"+t.substr(25),j='<a href="t',document.write(j+'el:+'+e+'">0<i>0'+i+"</a>")}

body
  #paper

    header#name Stefan Niculae
    img#face(src='img/face-bw.png', alt='My Picture')

    section#contact
      div
        span#email
          script insertEmail()
        span#phone
          script insertPhone()
        span#location Bucharest
      div
        span#linkedin
          img(src='img/linkedin.svg', alt='LinkedIn')
          a(href='https://www.linkedin.com/in/stefan-niculae') stefan-niculae
        span#github
          img(src='img/github.svg', alt='Github')
          a(href='https://www.github.com/stefan-niculae') stefan-niculae

    hr#top-separator


    section#work
      header Experience
      .content

        #bitdefender.entry
          .info
            span.role Data Scientist
            span.place Bitdefender
            .description
              ul
                li Anomalous user behavior detection by computing action embeddings, consecutive clusterings and joining them in an ensemble of graphical models
          .interval
            span.from 5/2017
            span.to Present

        #adobe.entry
          .info
            span.role Data Science Intern
            span.place Adobe
            .description
              ul
                li Adobe XD: Researched a Deep Recurrent Network to predict next user action
                li Adobe BC: Researched and implemented the Product Recommender
          .interval
            span.from 3/2016
            span.to 4/2017

        #intel.entry
          .info
            span.role Performance Optimization Intern
            span.place Intel
            .description
              ul
                li Developed a dashboard for IoT performance statistics and spike-detection
          .interval
            span.from 5/2015
            span.to 9/2015

        #clu.entry
          .info
            span.role Mobile Game Developer
            span.place Clu Games
            .description
              ul
                li Created catchy one-button games: #[a(href='https://play.google.com/store/apps/details?id=com.jmg.pet' title='Installable game') Android example], #[a(href='https://itunes.apple.com/sg/app/nutcracker-finger-dash/id906391464' title='Installable game') iOS example]
          .interval
            span.from 6/2014
            span.to 4/2015

        hr


    section#education
      header Education
      .content

        #masters.entry
          .info
            span.role MSc Artificial Intelligence
            span.place University of Bucharest
            .description
              ul
                li Teaching Assistant: #[a(href='http://stefann.eu/haskell-labs' title='Lab site') Declarative Programming], #[a(href='http://stefann.eu/formal-labs' title='Lab site') Formal Languages & Automata]
                li Thesis: Reinforcement L. vs Evolutionary Alg. in Game-Theoretic Cyber-Security
                li Erasmus: one exchange semester at Leiden University, Netherlands
                li Demos of the most #[a(href='https://github.com/stefan-niculae/school-projects' title='Screenshots & sources') interesting school projects]
          .interval
            span.from 2016
            span.to.expected 2018

        #bachelors.entry
          .info
            span.role BSc Computer Science
            span.place University of Bucharest
            .description
              ul
                li Graduated in top 1% students, 9.6/10 GPA, 9.9 finishing grade
                li #[a(href='https://github.com/stefan-niculae/undergrad-thesis') Thesis]: Finding Product Features that Impact Customer-Retention the Most
                li Organized Android Club as a #[i Google Student Ambassador]
                li Completed three-year Psychopedagogy module
                li Volunteer at #[i Association of Mathematics and Computer Science Students]
          .interval
            span.from 2013
            span.to 2016

        #trainings.entry
          span.role Non-Formal Trainings
          .description
            ul
              li #[span.inline-place MPI-SWS] Cornell, Maryland, Max Planck Research School (Germany 2017)
              li #[span.inline-place Erasmus+] Development of Intercultural Sensitivity (Cyprus 2017)
              li #[span.inline-place Various] Introductive Leadership, Public Speaking, User Experience
        hr


    section#skills
      header Skills
      .content

        .category
          span.name Data Science
          ul
            li NumPy, Pandas, Matplotlib
            li SK-Learn, Tensorflow, Keras
            li SQL, Tableau

        .category
          span.name Web
          ul
            li Django, .NET
            li React JS
            li Semantic UI

        .category
          span.name Other
          ul
            li Unix
            li Unity C#
            li Haskell
        hr

    section#hobbies
      header Hobbies
      .content
        .hobby
          div
            img(src='img/neovim.svg', alt='Neovim')
          span.name Vim

        .hobby
          div
            img(src='img/chef-hat.svg', alt='Chef Hat')
          span.name Cooking

        .hobby
          div
            img(src='img/biker.svg', alt='Cyclist')
          span.name Cycling

        .hobby
          div
            img(src='img/book.svg', alt='Book')
          span.name Sci-Fi

        .hobby
          div
            img(src='img/paddle.svg', alt='Paddle')
          span.name Ping-Pong

        .hobby
          div
            img(src='img/plane.svg', alt='Plane')
          span.name Travel




    #paper-footer
      p View online version at #[a(href='http://stefann.eu' title='Online version of resume') stefann.eu] to access links

  footer
    p #[a(href='Stefan Niculae - Resume.pdf' title='1-page, printer-ready' download='Stefan Niculae - Resume.pdf' target='_blank') Download PDF]

  script#google-analytics (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q || []).push(arguments)}, i[r].l=1 * new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-90665479-1', 'auto');ga('send', 'pageview');
